.pricing {
    background-color: #252b42;
    padding: 100px 0;
    color: #fff;
    text-align: center;

    &__title {
        margin-bottom: 17px;
    }

    &__text {
        font-weight: 400;
        max-width: 532px;
        display: inline-block;
        margin-bottom: 90px;   
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        flex: 1;
        background: #ffffff;
        border: 1px solid #dedede;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        color: black;
        padding: 40px;
        margin-right: 50px;
        max-width: 335px;

        &-title {
            font-family: "Graphik Bold";
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 3px;
        }

        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.1px;
            color: #374754;
            max-width: 438px;
            margin-bottom: 30px;
            display: inline-block;
        }

        &-cost {
            margin-bottom: 30px;
            display: flex;
            justify-content: center;

            &-content {
                text-align: start;
                margin-left: 10px;
            }

            &-value,
            &-currency {
                font-family: "Graphik Bold";
                font-size: 74px;
                letter-spacing: 0.2px;
                color: #252b42;
            }
        }

        &-list {
            margin-bottom: 30px;

            &-name {
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                letter-spacing: 0.2px;
                text-decoration: none;
            }
        }

      

        &--mod {
            background: #2091f9;
            color: #ffffff;
            padding: 83px 40px;

           

            .pricing__item-cost {
                &-value {
                    color: inherit;
                }

                &-currency {
                    color: inherit;
                }
            

                &-content {
                    color: inherit;

                    &-info {
                        color: inherit;
                    }
                }
            }

        

          &-list {
                &-name {
                    color: #fff;
                    list-style: none;
                }
            }


        
        }

    }

    
    .pricing__item-text--mod{
        color: #fff;
    }

    &__item:last-child {
        margin-right: 0;
    }
}