@font-face {
  font-family: "Graphik";
  src: url(../../fonts/Graphik-Regular.woff);
}
@font-face {
  font-family: "Graphik Bold";
  src: url(../../fonts/Graphik-Bold.woff);
}
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

button {
  outline: none;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

h1, h2, h3, h5 {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding-bottom: 20px;
  background-image: url(..//..//img/header/laptop.png);
}
.header__content {
  margin: 0 auto;
  max-width: 1200px;
}
.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 0;
}
.header__image {
  margin-left: 0;
}
.header__ul {
  display: flex;
  flex-direction: row;
  gap: 41px;
  color: white;
  align-items: center;
}
.header__li {
  font-size: 15px;
  line-height: 28px;
}
.header__li:last-of-type {
  margin-right: 45px;
}
.header__icon {
  display: flex;
  flex-direction: row;
  gap: 33px;
}
.header__main-title {
  font-size: 74px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  max-width: 672px;
  margin: 159px auto 27px;
}
.header__text {
  text-align: center;
  max-width: 766px;
  margin: 0 auto 90px;
}
.header__button {
  width: 236px;
  height: 52px;
  background: #2091F9;
  border-radius: 35px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding: 16px 0;
  display: block;
  margin: 0 auto;
}

.features {
  padding: 115px 0 80px;
}
.features__title {
  max-width: 194px;
  margin: 0 auto 27px;
}
.features__text {
  max-width: 532px;
  margin: 0 auto 97px;
  text-align: center;
}
.features__main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}
.features__img {
  margin-bottom: 27px;
}
.features__title-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252B42;
  max-width: 194px;
  margin: 0 auto 20px;
}
.features__text-small {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
  max-width: 231px;
}

.pricing {
  background-color: #252b42;
  padding: 100px 0;
  color: #fff;
  text-align: center;
}
.pricing__title {
  margin-bottom: 17px;
}
.pricing__text {
  font-weight: 400;
  max-width: 532px;
  display: inline-block;
  margin-bottom: 90px;
}
.pricing__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pricing__item {
  flex: 1;
  background: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  color: black;
  padding: 40px;
  margin-right: 50px;
  max-width: 335px;
}
.pricing__item-title {
  font-family: "Graphik Bold";
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.pricing__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
  max-width: 438px;
  margin-bottom: 30px;
  display: inline-block;
}
.pricing__item-cost {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.pricing__item-cost-content {
  text-align: start;
  margin-left: 10px;
}
.pricing__item-cost-value, .pricing__item-cost-currency {
  font-family: "Graphik Bold";
  font-size: 74px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.pricing__item-list {
  margin-bottom: 30px;
}
.pricing__item-list-name {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.pricing__item--mod {
  background: #2091f9;
  color: #ffffff;
  padding: 83px 40px;
}
.pricing__item--mod .pricing__item-cost-value {
  color: inherit;
}
.pricing__item--mod .pricing__item-cost-currency {
  color: inherit;
}
.pricing__item--mod .pricing__item-cost-content {
  color: inherit;
}
.pricing__item--mod .pricing__item-cost-content-info {
  color: inherit;
}
.pricing__item--mod-list-name {
  color: #fff;
  list-style: none;
}
.pricing .pricing__item-text--mod {
  color: #fff;
}
.pricing__item:last-child {
  margin-right: 0;
}

.title {
  font-size: 48px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.title--white {
  color: #fff;
}

.reviews {
  text-align: center;
}
.reviews__title {
  margin-bottom: 90px;
  margin-top: 100px;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  color: #252B42;
}
.reviews__icon {
  margin-bottom: 50px;
}
.reviews__text {
  color: #374754;
  margin: 0 auto 60px auto;
  max-width: 967px;
}
.reviews__user {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.reviews__user-avatar {
  margin-right: 10px;
}
.reviews__user-duties {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
}
.reviews__user-position {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.reviews__user-info {
  text-align: left;
}
.reviews__button {
  max-width: 276px;
  margin-bottom: 100px;
}

.avatar {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar__picture {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  background: #2091F9;
  border-radius: 35px;
  font-size: 20px;
  color: #FFFFFF;
  padding: 18px 0;
  width: 100%;
  transition: 0.4s;
}
.button:hover {
  background-color: #2473be;
}

.text {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
  font-weight: 400;
}
.text--white {
  color: #fff;
}

.partners {
  text-align: center;
  align-items: center;
}
.partners__title {
  max-width: 188px;
  margin: 130px auto 23px auto;
}
.partners__text {
  max-width: 532px;
  margin: 0 auto 92px auto;
}
.partners__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__list__top {
  display: flex;
  flex-direction: row;
}
.partners__list__top__content {
  padding: 31px 0 45px;
  display: inline-block;
}
.partners__list__top__item {
  padding: 31px 0 46px;
}
.partners__list__top__item__img {
  margin-right: 40px;
}
.partners__list__bottom {
  display: flex;
  flex-direction: row;
}
.partners__content {
  padding-top: 32px;
  width: 273px;
  height: 163px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
}
.partners__name {
  display: inline-block;
  font-size: 16px;
  line-height: 23px;
  margin: 0 auto 15px;
}
.partners__button {
  width: 236px;
  height: 60px;
  background: #2091F9;
  border-radius: 35px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  padding: 16px 0;
  margin: 81px 0 80px;
}

.fingerprints {
  padding: 159px 0 52px;
}
.fingerprints__content {
  display: flex;
  flex-direction: row;
  gap: 123px;
}
.fingerprints__content .fingerprints__bottom {
  display: flex;
  flex-direction: row;
}
.fingerprints__content .fingerprints__bottom__button-blue {
  background: #2091F9;
  border-radius: 35px;
  max-width: 172px;
}
.fingerprints__pretitle {
  font-size: 20px;
  line-height: 28px;
  color: #252B42;
}
.fingerprints__pretext {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-top: 35px;
  max-width: 276px;
  margin-bottom: 0;
}
.fingerprints__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #374754;
  max-width: 301px;
  margin-bottom: 35px;
}
.fingerprints__email {
  width: 273px;
  height: 54px;
  background: #E8E8E8;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  padding: 19px 0 19px 39px;
  max-width: 273px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171D;
  margin-right: 12px;
}
.fingerprints__button {
  width: 172px;
  height: 58px;
  font-size: 20px;
  line-height: 20px;
  padding: 19px 38px;
}
.fingerprints__image {
  width: 100%;
}

.ways__container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1200px;
}
.ways__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252B42;
  max-width: 335px;
  margin-top: 92px;
}
.ways__button {
  color: white;
  max-width: 236px;
}
.ways__text {
  max-width: 532px;
  margin: 27px 0 80px;
}
.ways__picture {
  margin-top: 92px;
  max-width: 100%;
}/*# sourceMappingURL=main.css.map */