.fingerprints{
    padding: 159px 0 52px;

    &__content{
        display: flex;
        flex-direction: row;

        &__right{
         display: inline-block;
         &__about{

         
         &__pretitle{
            font-size: 20px;
            line-height: 28px;
            color: #252B42;
         }

         &__title{
            margin:17px 0 35px ;
         }

         &__text{
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.2px;
            color: #374754;

         }

         &__pretext{
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.1px;
            color: #252B42;
            margin-top: 35px;
         }
        }

        &__bottom{
            margin-top: 34px;

            &__email{
                width: 273px;
                height: 54px;
                background: #F4F4F4;
                border: 1px solid #E8E8E8;
                border-radius: 39px;
                padding: 19px 0 19px 39px;

            }

            &__button-blue{
                background: #2091F9;
                border-radius: 35px;
                max-width: 172px;
               
            }
        }
         }
        }
    }
